head
	title Animate
	// including other jade works
	// include scripts
	// including .html, .css, etc works
	link(rel='stylesheet', href= host + "/" + version + "/server-mongo/views/common-html/style.css" )