doctype html
html(lang="en")
	include ../common-html/head
	body
		.activate-account
			#home
				.top
					.logo
						a(href="https://webinate.net")
							img(src= host + "/" + version + "/server-mongo/views/media/webinate-logo.png")
					.sub-logo
						| Animate your Web
				div(class="success-message")
					= message
	include ../common-html/foot 