<div class='en-splash-welcome splash-outer-container splash-welcome'>
	<div class='splash-container'>
		<div class='splash-section splash-projects'></div>
		<div class='splash-section'>
			<div class='splash-user-box'>
				<div en-show="ctrl.user.isLoggedIn" class='close-but' en-click="ctrl.onButtonClick(e)">X</div>
				<div class='details'>
					<img en-src="ctrl.user.userEntry.meta.imgURL" />
				</div>

				<div en-show="ctrl.user.isLoggedIn" class='details'>{{ctrl.user.userEntry.username}}</div>
				<div en-show="ctrl.user.isLoggedIn" class='details'><div class='hyperlink logout-link' en-click="ctrl.logout()">Logout</div></div>

				<div en-show="!ctrl.user.isLoggedIn" class='details'><span class='hyperlink login-link' en-click="ctrl.onButtonClick(e)">Login</span></div>
				<div en-show="!ctrl.user.isLoggedIn" class='details'><span class='hyperlink register-link' en-click="ctrl.onButtonClick(e)">Register</span></div>
			
				<div class='fix'></div>
			</div>
			<div class='welcome'>Welcome to Animate</div>
			<div class='news'>
				Hello and welcome back to Animate. If you're new around these parts, let's get you up and running in just a few minutes. Click the below button to learn how to create your very first Animate project. <br />
				<a href="javascript:window.open('https://webinate.net/tutorials-popup/','Animate Tutorials','width=1000,height =800')">
					<div class='getting-started'>
						<img src='media/play-arrow.png' />Tutorial Videos
					</div>
				</a>
			</div>
		</div>
	</div>
</div>