<div id="file-viewer">
	<div class="file-viewer-toolbar">
		<div class="button reg-gradient" en-click="jQuery('#upload-new-file').trigger('click')" en-class="{ disabled : ctrl.$loading }">
			<div class="cross"></div>Add File
			<input type="file" id="upload-new-file" multiple="multiple" />
		</div>
		
		<div class="file-filters">
			<div class="tool-bar-group background-view-light">
				<div class="toolbar-button tooltip" en-click="ctrl.$onlyFavourites = !ctrl.$onlyFavourites; ctrl.$pager.invalidate()" en-class="{ selected : ctrl.$onlyFavourites}">
					<div class="icon" style="background-image:url('media/star.png')"></div>
					<div class="tooltip-text">Favourite</div>
				</div>
			</div>
			<div id="file-search-mode" class="tool-bar-group background-view-light"></div>
		</div>
		<div class="tool-bar-group background-view-light" en-class="{ disabled : ctrl.selectedEntities.length == 0 }">
			<div class="toolbar-button tooltip" en-click="ctrl.confirmDelete()">
				<div class="icon" style="background-image:url('media/remove-asset.png')"></div>
				<div class="tooltip-text">Remove</div>
			</div>
		</div>
		<div class="file-search">
			<input en-model="ctrl.$search" class="background-view-light" type="text">
			<img en-click="ctrl.$pager.invalidate()" src="media/search.png">
		</div>
		<div class="fix"></div>
	</div>
	

	<!-- Folders/Files view -->
	<div class="files-view background-view animate-all" en-style="{ width: (ctrl.$selectedFile ? '60%' : '') }">
		<div class="file-items" en-scrollTop="(ctrl.$errorMsg != '' ? 0 : undefined)">

			<div id="uploader-progress" class="progress-outer" en-show="ctrl.$uploader.numDownloads > 0">
				<span class="reg-gradient animate-all" en-style="{ width : ctrl.$uploader.percent + '%'}">{{ctrl.$uploader.percent}}% [{{ctrl.$uploader.numDownloads}}]</span>
			</div>

			<div class="error animate-all bad-input" en-show="ctrl.$errorMsg != ''" en-class="{ opened : ctrl.$errorMsg != '' }" >
				<div class="error-inner">{{ctrl.$errorMsg}}
					<div class="button red" en-show="ctrl.$confirmDelete" en-click="ctrl.removeEntities()">Yes</div>
					<div class="button red" en-show="ctrl.$confirmDelete" en-click="ctrl.$errorMsg = ''; ctrl.$confirmDelete=false">No</div>
				</div>
			</div>

			<!--New folder-->
			<div class="new-folder-ctnr animate-all background curve-small" en-show="ctrl.$newFolder" en-class="{ opened : ctrl.$newFolder }">
				<div class="new-folder-inner">
					<div><strong>Folder Name:</strong></div>
					<input class="background-view-light" id="new-folder-name" type="text" />
					<div class="button green" en-click="ctrl.newFolder()"><div class="cross"></div>Add</div>
				</div>
			</div>

			<!--Folders-->
			<div class="folders" en-if="ctrl.$folders.length > 0">
				<div class="folder unselectable background" en-click="ctrl.selectEntity(folder)" en-repeat="ctrl.$folders as folder" en-class="{ selected : folder.selected }">
					<div en-dclick="ctrl.openFolder(folder)">
						<div class="icon" style="background-image:url('media/folder.png')"></div>{{folder.name}}
					</div>
				</div>
				<div class="fix"></div>
			</div>
			<div class="folders" en-if="ctrl.selectedFolder">
				<div class="folder unselectable light-hover" en-dclick="ctrl.openFolder()">
					<div class="icon" style="background-image:url('media/folder.png')"></div>../{{ctrl.selectedFolder.name}}
				</div>
				<div class="fix"></div>
			</div>

			<!--Files-->
			<div>
				<div class="file-item img-preview unselectable" en-repeat="ctrl.$entries as file" en-click="ctrl.selectEntity(file)" en-class="{ 'reg-gradient' : file.selected }">
					<div class="preview-child">
						<div class="background-tiles inner ng-scope">
							<img class="vert-align" en-src="ctrl.getThumbnail(file)" />
							<div class="div-center"></div>
						</div>
					</div>
					<div class="item-name">{{file.name}}</div>
				</div>
			</div>
			<div class="no-items unselectable" en-if="ctrl.$entries.length == 0">No {{(ctrl.selectedFolder ? "files" : "folders" )}} uploaded</div>
		</div>

		<!--Navigation-->
		<div class="files-footer background">
			<div class="navigation-column back soft-text">
				<a en-show="ctrl.$pager.index" en-click="ctrl.$pager.goFirst()">First</a>
				<a en-show="ctrl.$pager.index" en-click="ctrl.$pager.goPrev()">Prev</a>
			</div>
			<div class="navigation-column index soft-text">
				{{ctrl.$pager.getPageNum()}} of {{ctrl.$pager.getTotalPages()}}
			</div>
			<div class="navigation-column next soft-text">
				<a en-show="ctrl.$pager.index + ctrl.$pager.limit < ctrl.$pager.last" en-click="ctrl.$pager.goNext()">Next</a>
				<a en-show="ctrl.$pager.index < ctrl.$pager.last - ctrl.$pager.limit" en-click="ctrl.$pager.goLast()">Last</a>
			</div>
			<div class="fix"></div>
		</div>

		<div class="loading modal-backdrop light-modal" en-show="ctrl.$loading">
			<img class="loading" src="media/loading-blue.gif">
		</div>
	</div>

	<!-- File Info -->
	<div class="file-info background animate-all" en-class="{ open : ctrl.$selectedFile }">
		<div en-if="ctrl.$selectedFile" class="fade-in" style="height:100%;">
			<div class="file-details">
				<div en-show="!ctrl.$editMode" class="button" en-click="ctrl.$editMode = !ctrl.$editMode;"><a><span class="edit-icon">✎</span>Edit</a></div>
				<h2>{{ctrl.$selectedFile.name}}</h2>
				<div class="file-stats" en-show="!ctrl.$editMode">
					<div class="preview-loader reg-gradient"></div>
					<div id="file-preview" en-init="ctrl.getPreview(ctrl.$selectedFile)"></div>					
					<div><span class="info">Owner: </span><span class="detail"><b>{{ctrl.$selectedFile.user}}</b></span></div>
					<div><span class="info">Created On: </span><span class="detail">{{new Date(ctrl.$selectedFile.createdOn).toLocaleDateString()}} {{new Date(ctrl.$selectedFile.createdOn).toLocaleTimeString()}}</span></div>
					<div class="info-divider background-view-light"></div>
					<div><input class="background-view-light" en-value="ctrl.$selectedFile.url" /></div>
					<div><span class="info">URL: </span><span class="detail"><a en-href="ctrl.$selectedFile.url" target="_blank" href="">Open Raw File</a></span></div>
					<div><span class="info">Size: </span><span class="detail">{{byteFilter(ctrl.$selectedFile.size)}}</span></div>
					<div><span class="info">Extension: </span><span class="detail">{{ctrl.$selectedFile.extension}}</span></div>
					<div><span class="info">Tags:</span><span class="detail">{{ctrl.$selectedFile.tags.join(', ')}}</span></div>
					<div><span class="info">Global: </span><span class="detail">{{ctrl.$selectedFile.global}}</span></div>
					<div><span class="info">Favourite: </span><span class="detail">{{ctrl.$selectedFile.favourite}}</span></div>
					<div><span class="info">Last Modified On: </span><span class="detail">{{new Date(ctrl.$selectedFile.lastModified).toLocaleDateString()}} {{new Date(ctrl.$selectedFile.lastModified).toLocaleTimeString()}}</span></div>
				</div>
				<div class="file-stats" en-show="ctrl.$editMode">
					<div class="info-divider background-view-light"></div>
					<div>
						<span class="info">Name:</span><span class="detail"><input id="file-name" class="background-view-light" en-model="ctrl.$fileToken.name" /></span>
					</div>
					<div>
						<span class="info">Tags: </span>
						<span class="detail"><input class="background-view-light" id="file-tags" en-model="ctrl.$fileToken.tags" en-transform="ctrl.$fileToken.tags.replace(/(\s*,\s*)+/g, ',').trim().split(',')" /></span>
					</div>
					<div>
						<div class="checkbox">
							<div class="tick-box" en-click="ctrl.$fileToken.global = !ctrl.$fileToken.global">
								<div class="tick" en-show="ctrl.$fileToken.global"></div>
							</div>
							<span class="info">Global</span><span class="detail">{{(ctrl.$fileToken.global ? 'YES' : 'NO')}}</span>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<div class="tick-box" en-click="ctrl.$fileToken.favourite = !ctrl.$fileToken.favourite">
								<div class="tick" en-show="ctrl.$fileToken.favourite"></div>
							</div>
							<span class="info">Favourite</span><span class="detail">{{(ctrl.$fileToken.favourite ? 'YES' : 'NO')}}</span>
						</div>
					</div>
				</div>
				<div class="fix"></div>
			</div>
			<div class="buttons ">
				<div class="button"  en-show="!ctrl.$editMode" ><a class="red-highlight" en-click="Animate.MessageBox.show('Are you sure you want to permanently delete the file`' + ctrl.$selectedFile.name + '`?', ['Yes Delete It', 'No'], ctrl.removeFile, ctrl)">REMOVE</a></div>
				<div class="button" en-show="ctrl.$editMode"><a class="red-highlight" en-click="ctrl.$editMode = false">CANCEL</a></div>
				<div class="button green animate-all" en-show="!ctrl.$editMode" en-click="ctrl.openProject(ctrl.$selectedFile)">OPEN &nbsp; &#10148;</div>
				<div class="button reg-gradient animate-all" en-show="ctrl.$editMode" en-click="ctrl.updateFile(ctrl.$fileToken)"><div class="tick"></div>UPDATE</div>
			</div>
		</div>
	</div>
</div>