<div id="file-viewer">

	<div class="file-viewer-toolbar">
		<div class="button reg-gradient" en-show="!ctrl.selectedFolder" en-click="ctrl.$errorMsg = ''; ctrl.$newFolder = !ctrl.$newFolder" en-class="{ disabled : ctrl.$loading }">
			<div class="cross"></div>Add Folder
		</div>
		<div class="button reg-gradient" en-click="jQuery('#upload-new-file').trigger('click')" en-show="ctrl.selectedFolder" en-class="{ disabled : ctrl.$loading }">
			<div class="cross"></div>Add File
			<input type="file" id="upload-new-file" multiple="multiple" />
		</div>
		
		<div en-show="ctrl.selectedFolder" class="file-filters">
			<div class="tool-bar-group background-view-light">
				<div class="toolbar-button tooltip">
					<div><img src="media/star.png" /></div>
					<div class="tooltip-text">Favourite</div>
				</div>
			</div>
			<div id="file-search-mode" class="tool-bar-group background-view-light"></div>
		</div>
		<div class="tool-bar-group background-view-light" en-class="{ disabled : ctrl.selectedEntities.length == 0 }">
			<div class="toolbar-button tooltip" en-click="ctrl.confirmDelete()">
				<div><img src="media/remove-asset.png" /></div>
				<div class="tooltip-text">Remove</div>
			</div>
		</div>
		<div class="file-search">
			<input en-model="ctrl.$search" class="background-view-light" type="text">
			<img en-click="ctrl.$pager.invalidate()" src="media/search.png">
		</div>
		<div class="fix"></div>
	</div>
	

	<!-- Folders/Files view -->
	<div class="files-view background-view animate-all" en-style="{ width: (ctrl.$selectedFile ? '70%' : '') }">
		<div class="file-items">

			<div id="uploader-progress" class="progress-outer" en-show="ctrl.$numLoading > 0">
				<span class="reg-gradient animate-all" en-style="{ width : ctrl.$loadingPercent + '%'}">{{ctrl.$loadingPercent}}% of {{ctrl.$numLoading}}</span>
			</div>

			<div class="error animate-all bad-input" en-show="ctrl.$errorMsg != ''" en-class="{ opened : ctrl.$errorMsg != '' }" >
				<div class="error-inner">{{ctrl.$errorMsg}}
					<div class="button red" en-show="ctrl.$confirmDelete" en-click="ctrl.removeEntities()">Yes</div>
					<div class="button red" en-show="ctrl.$confirmDelete" en-click="ctrl.$errorMsg = ''; ctrl.$confirmDelete=false">No</div>
				</div>
				
			</div>

			<!--New folder-->
			<div class="new-folder-ctnr animate-all background curve-small" en-show="ctrl.$newFolder" en-class="{ opened : ctrl.$newFolder }">
				<div class="new-folder-inner">
					<p><strong>Folder Name:</strong></p>
					<input class="background-view-light" id="new-folder-name" type="text" />
					<div class="button green" en-click="ctrl.newFolder()"><div class="cross"></div>Add</div>
				</div>
			</div>

			<!--Folders-->
			<div class="folders" en-if="!ctrl.selectedFolder">
				<div class="folder unselectable background" en-click="ctrl.selectEntity(folder)" en-repeat="ctrl.$entries as folder" en-class="{ selected : folder.selected }">
					<div en-dclick="ctrl.openFolder(folder)">
						<div class="icon" style="background-image:url('media/folder.png')"></div>{{folder.name}}
					</div>
				</div>
				<div class="fix"></div>
			</div>
			<div class="folders" en-if="ctrl.selectedFolder">
				<div class="folder unselectable light-hover" en-dclick="ctrl.openFolder()">
					<div class="icon" style="background-image:url('media/folder.png')"></div>../{{ctrl.selectedFolder.name}}
				</div>
				<div class="fix"></div>
			</div>

			<!--Files-->
			<div en-if="ctrl.selectedFolder">
				<div class="file-item img-preview unselectable" en-repeat="ctrl.$entries as file" en-click="ctrl.selectFile(project)">
					<div class="welcome-preview">
						<div class="background-tiles inner ng-scope">
							<img en-src="ctrl.getThumbnail(file)" />
							<div class="div-center"></div>
						</div>
					</div>
					<div class="item-name" en-class="{ 'reg-gradient' : file.selected }">{{file.name}}</div>
				</div>
			</div>
			<div class="no-items unselectable" en-if="ctrl.$entries.length == 0">No {{(ctrl.selectedFolder ? "files" : "folders" )}} uploaded</div>
		</div>

		<!--Navigation-->
		<div class="files-footer background">
			<div class="navigation-column back soft-text">
				<a en-show="ctrl.$pager.index" en-click="ctrl.$pager.goFirst()">First</a>
				<a en-show="ctrl.$pager.index" en-click="ctrl.$pager.goPrev()">Prev</a>
			</div>
			<div class="navigation-column index soft-text">
				{{ctrl.$pager.getPageNum()}} of {{ctrl.$pager.getTotalPages()}}
			</div>
			<div class="navigation-column next soft-text">
				<a en-show="ctrl.$pager.index + ctrl.$pager.limit < ctrl.$pager.last" en-click="ctrl.$pager.goNext()">Next</a>
				<a en-show="ctrl.$pager.index < ctrl.$pager.last - ctrl.$pager.limit" en-click="ctrl.$pager.goLast()">Last</a>
			</div>
			<div class="fix"></div>
		</div>

		<div class="loading modal-backdrop light-modal" en-show="ctrl.$loading">
			<img class="loading" src="media/loading-blue.gif">
		</div>
	</div>

	<!-- File Info -->
	<div class="project-info background animate-all" en-style="{ width: (ctrl.$selectedFile ? '30%' : ''), left :  (ctrl.$selectedFile ? '70%' : '') }">
		<div en-if="ctrl.$selectedFile" class="fade-in" style="height:100%;">
			<div class="project-details">
				<h2>{{ctrl.$selectedFile.name}}</h2>
				<p><span class="info">Created By</span>: <span class="detail"><b>{{ctrl.$selectedFile.user}}</b></span></p>
				<p><span class="info">Created On</span>: <span class="detail">{{new Date(ctrl.$selectedFile.createdOn).toLocaleDateString()}}</span></p>
				<p><span class="info">Last Modified On</span>: <span class="detail">{{new Date(ctrl.$selectedFile.lastModified).toLocaleDateString()}}</span></p>
				<p><span class="info">No. Plugins</span>: <span class="detail">{{ctrl.$selectedFile.plugins.length}}</span></p>
				<div class="fix"></div>
				<p en-html="ctrl.$selectedFile.description"></p>
			</div>
			<div class="buttons ">
				<div class="button"><a en-click="Animate.MessageBox.show('Are you sure you want to permanently remove the project `' + ctrl.$selectedFile.name + '`?', ['Yes Delete It', 'No'], ctrl.removeProject, ctrl)">REMOVE</a></div>
				<div class="button green animate-all" en-click="ctrl.openProject(ctrl.$selectedFile)">OPEN &nbsp; &#10148;</div>
			</div>
		</div>

		<div class="viewer-block">
			<div class="file-preview-header">
				<div class="header-name">Preview: </div>
				<div class="button reg-gradient curve-small" style="width: 100px; height: 25px; margin: 0px 0px 5px; float: right; display: none;">
					<div class="textfield" style="top: 3px;">Use this File</div>
				</div><div class="fix"></div>
			</div>
			<div class="file-preview"></div><div class="info-section">
				<div class="upload-status" style="display: none;">
					<img src="media/close.png"><span class="upload-text">Uploading</span>
				</div>
				<div class="file-group">
					<div></div><div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Name: </div>
					</div><div class="input-box">
						<input type="text">
					</div><div class="fix"></div>
				</div><div class="file-group">
					<div></div>
					<div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Tags: </div>
					</div><div class="input-box">
						<input type="text">
					</div><div class="fix"></div>
				</div><div class="file-group">
					<div></div><div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Share: </div>
					</div><div class="checkbox">
						<input type="checkbox"><div class="text">Share your file with all Animate users</div>
					</div>
					<div class="fix"></div>
				</div>
				<div class="file-group">
					<div></div><div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Thumbnail: </div>
					</div>
					<div class="input-box" style="position: relative; overflow: hidden; direction: ltr;">
						<input type="text">
						<input multiple="multiple" type="file" name="file" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
					</div>
					<div class="info">Click here to upload a thumbnail image (100px, 100px)</div><div class="fix"></div>
				</div>
				<div class="file-group disabled">
					<div></div>
					<div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Filesize: </div>
					</div><div class="input-box"><input type="text"></div><div class="fix"></div>
				</div>
				<div class="file-group disabled">
					<div></div>
					<div class="label" style="text-align: left; float: left; padding-left: 5px;">
						<div class="textfield">Path: </div>
					</div><div class="input-box"><input type="text"></div><div class="fix">
					</div>
				</div>
				<div class="button reg-gradient curve-small disabled" style="width: 70px; height: 20px; margin: 5px 3px 0px 0px; float: right;">
					<div class="textfield" style="top: 0.5px;">Update</div>
				</div><div class="fix"></div>
			</div>
		</div>

	</div>
</div>