<div class="list-view" style="min-width: 418px;">
	<div class="list" style="width: 69px; min-width: 69px;">
		<div class="list-view-header light-gradient">
			<span class="inner">Name   ▼</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="list" style="width: 90px; min-width: 90px;">
		<div class="list-view-header light-gradient">
			<span class="inner">Description</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="list" style="width: 48px; min-width: 48px;">
		<div class="list-view-header light-gradient">
			<span class="inner">Tags</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="list" style="width: 84px; min-width: 84px;">
		<div class="list-view-header light-gradient">
			<span class="inner">Created On</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="list" style="width: 94px; min-width: 94px;">
		<div class="list-view-header light-gradient">
			<span class="inner">Last Modified</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="list" style="width: 33px; min-width: 33px;">
		<div class="list-view-header light-gradient">
			<span class="inner">ID</span>
			<div class="dragger light-gradient"></div>
		</div>
	</div>
	<div class="fix"></div>
</div>