<div id='options-project'>
	<div class="group">
		<div class="label group-header background">
			Details
		</div>
		<form en-auto-clear en-change="ctrl.reportError(elm)" en-submit="!ctrl.reportError(elm) && ctrl.updateDetails(ctrl.$projectToken)">
			<div class="group-content">
				<div class="field-option">
					<input name="name" class="background-view-light" type="text" en-class="{ 'bad-input' : elm.$error }" placeholder="Project Name" en-model="ctrl.$projectToken.name" en-validate="non-empty|no-html" />
				</div>
				<div class="field-option">
					<input name="tags" class="background-view-light" type="text" placeholder="Keywords" en-model="ctrl.$projectToken.tags" en-transform="ctrl.$projectToken.tags.replace(/(\s*,\s*)+/g, ',').trim().split(',')" />
				</div>
				<div class="field-option">
					<textarea name="description" class="background-view-light" style="height: 180px;" en-class="{error : elm.$error}" placeholder="Project Description" en-model="ctrl.$projectToken.description"></textarea>
				</div>
			</div>
			<div class="field-option">
				<div class="label">Visibility</div>
				<div class="dropdown">
					<select name="visibility" en-model="ctrl.$projectToken.public" en-transform="(elm.value == '0' ? false : true )">
						<option value="0" en-selected="!ctrl.$projectToken.public">Private</option>
						<option value="1" en-selected="ctrl.$projectToken.public">Public</option>
					</select>
				</div>
				<div class="info soft-text">If public, your project will be searchable on the Webinate gallery.</div>
			</div>

			<div class="field-option">
				<div class="label">Category</div>
				<div class="dropdown">
					<select name="category" en-model="ctrl.$projectToken.category" en-transform="parseInt(elm.value)">
						<option value="1" en-selected="ctrl.$projectToken.category == 1">Other</option>
						<option value="2" en-selected="ctrl.$projectToken.category == 2">Artistic</option>
						<option value="3" en-selected="ctrl.$projectToken.category == 3">Gaming</option>
						<option value="4" en-selected="ctrl.$projectToken.category == 4">Informative</option>
						<option value="5" en-selected="ctrl.$projectToken.category == 5">Musical</option>
						<option value="6" en-selected="ctrl.$projectToken.category == 6">Technical</option>
						<option value="7" en-selected="ctrl.$projectToken.category == 7">Promotional</option>
					</select>
				</div>
				<div class="info soft-text">Optionally provide a project category. The default is 'Other'</div>
			</div>
			<div class="error" en-show="ctrl.$errorMsg != ''">{{ctrl.$errorMsg}}</div>
			<input type="submit" class="button reg-gradient curve-small" en-class="{ disabled : ctrl.$loading }" value="Update Project Details" /><img en-show="ctrl.$loading" src="./media/loading-blue.gif">
		</form>
	</div>
	<div class="group" >
		<div class="label group-header background">
			Image
		</div>
		<div class="group-content">
			<div class="img-preview unselectable">
				<div class="preview-child">
					<div class="background-tiles inner ng-scope">
						<img en-src="ctrl.$project && (ctrl.$project.entry.image || './media/appling.png')">
						<div class="div-center"></div>
					</div>
				</div>
				<div class="item-name reg-gradient" id="upload-projet-img" en-click="Animate.FileViewerForm.getSingleton().showForm( null, null )"><div class="cross"></div>Upload Image {{ctrl.$loadingPercent}}</div>
			</div>
			<div class="img-data">
				<div class="info">
					Upload an image for the project; this image will show up in the Animate gallery for others to see. 
					<br><br><span class="nb">Your application must have an image in order to be shown in the gallery.</span><br><br>
					Your project image should be either a .png or .jpg image that is 200 by 200 pixels.
					<div class="error" en-show="ctrl.$errorMsgImg != ''">{{ctrl.$errorMsgImg}}</div>
				</div>
			</div>
			<div class="fix"></div>
		</div>
	</div>
</div>