<div id='options-build'>
	<div class="group">
		<div class="label group-header background">
			Build
		</div><div class="group-content">
			<div class="label-val">
				<div class="label">Major Version:</div>
		
					<input type="text" class="background-view-light">

				<div class="fix">
				</div>
			</div>
			<div class="label-val">
				<div class="label">
					Mid Version:
				</div>
			
					<input type="text" class="background-view-light">
				<div class="fix"></div>
			</div>
			<div class="label-val">
				<div class="label">Minor Version:</div>
			
					<input type="text" class="background-view-light">

				<div class="fix"></div>
			</div>
			<div class="fix"></div>
			<div class="label info">
				When you build a project it saves the data according to its version number.
				This helps you differenciate your builds and release incremental versions. You can switch between the different
				builds by specifying which version to use. Use the above fields to select,
				or if its not present create, a particular build.
			</div>
			<div class="button reg-gradient curve-small">Select Build</div>
		</div>
	</div>
	<div class="group">
		<div class="label group-header background">Properties</div>
		<div class="group-content">
			<div class="label-val">
				<div class="label">
					Notes
				</div>
		
					<textarea class="background-view-light"></textarea>
		
				<div class="fix"></div>
			</div>
			<div class="label info">Use the above pad to store some build notes for the selected build.</div>
			<div class="label-val">
				<div class="label">
					Visibility
				</div>
				<div class="combo-box">
					<select class="combo">
						<option value="0">Private</option>
						<option value="1">Public</option>
					</select>
				</div>
				<div class="fix"></div>
			</div>
			<div class="label info">
				by default all builds are public. If you want to make your project private, then please upgrade your account.
			</div>
			<div class="button reg-gradient curve-small">Save</div>
		</div>
	</div>
</div>