<div id='options-project'>
	<div class="group">
		<div class="label group-header background">
			Details
		</div>
		<div class="group-content">
			<div class="field-option">
				<input class="background-view-light" type="text" placeholder="Project Name" en-model="ctrl.$projectToken.name" en-value="ctrl.$project && ctrl.$project.entry.name" />
			</div>
			<div class="field-option">
				<input class="background-view-light" type="text" placeholder="Keywords" en-model="ctrl.$projectToken.tags" en-value="ctrl.$project && ctrl.$project.entry.tags" />
			</div>
			<div class="field-option">
				<textarea class="background-view-light" style="height: 180px;" en-model="ctrl.$projectToken.description" placeholder="Project Description">{{ctrl.$project && ctrl.$project.entry.description}}</textarea>
			</div>
		</div>
		<div class="field-option">
			<div class="label">Visibility</div>
			<div class="dropdown">
				<select en-change="ctrl.$projectToken.public = (elm.value == '0' ? false : true )">
					<option value="0" en-selected="ctrl.$project && !ctrl.$project.entry.public">Private</option>
					<option value="1" en-selected="ctrl.$project && ctrl.$project.entry.public">Public</option>
				</select>
			</div>
			<div class="info soft-text">If public, your project will be searchable on the Webinate gallery.</div>
		</div>
		
		<div class="field-option">
			<div class="label">Category</div>
			<div class="dropdown">
				<select>
					<option value="0">Other</option>
					<option value="1">Artistic</option>
					<option value="2">Gaming</option>
					<option value="3">Informative</option>
					<option value="4">Musical</option>
					<option value="5">Fun</option>
					<option value="6">Technical</option>
				</select>
			</div>
			<div class="info soft-text">Optionally provide a project category. The default is 'Other'</div>
		</div>
		<div class="button reg-gradient curve-small" en-click="ctrl.updateDetails()"><div class="tick-outer"><div class="tick"></div></div>Update Project Details</div>
	</div>
	<div class="group" >
		<div class="label group-header background">
			Image
		</div>
		<div class="group-content">
			
				<div class="img-preview unselectable">
					<div class="welcome-preview">
						<div class="background-tiles inner ng-scope">
							<img src="./media/appling.png">
							<div class="div-center"></div>
						</div>
					</div>
					<div class="item-name reg-gradient" id="upload-projet-img"><div class="cross"></div>Upload Image</div>
				</div>
		
			<div class="img-data">
				<div class="info">
					Upload an image for the project; this image will show up in the Animate gallery for others to see. 
					<br><br><span class="nb">Your application must have an image in order to be shown in the gallery.</span><br><br>
					Your project image should be either a .png or .jpg image that is 200 by 200 pixels.
				</div>
			</div>
			<div class="fix"></div>
		</div>
	</div>
</div>