<div id="splash-new-project" class='new-project fade-in' en-show="ctrl.$activePane == 'new-project'">
	<form en-auto-clear en-change="ctrl.reportError(elm)" en-submit="!ctrl.reportError(elm) && ctrl.newProject(ctrl.$projectName, ctrl.$projectDesc, ctrl.$selectedPlugins)">
		<div class="double-column" style="width:40%">

			<p><input name="name" class="background-view-light animate-all" type="text" placeholder="Project Name" en-class="{ 'bad-input' : elm.$error }" en-validate="non-empty|no-html" en-model="ctrl.$projectName" /></p>
			<p><textarea name="description" class="background-view-light animate-all" placeholder="Project Description" en-class="{ 'bad-input' : elm.$error }" en-validate="no-html" en-model="ctrl.$projectDesc"></textarea></p>

		</div>
		<div class="double-column" style="width:60%">
			<div class="double-column">
				<div class="header">Choose Plugins</div>
				<div class="plugins">
					<div class="plugin unselectable" en-repeat="ctrl.$plugins as plugin" en-mouse-over="ctrl.$activePlugin = plugin;" en-class="{ 'background-view-light' : (ctrl.$activePlugin == plugin) }" en-click="ctrl.selectPlugin(plugin)">
						<div class="checkbox">
							<div class="tick-box">
								<div class="tick" en-show="plugin.selected "></div>
							</div>
							<img en-src="plugin.image" />{{plugin.name}}
						</div>
					</div>
				</div>
			</div>
			<div class="double-column">
				<div class="plugin-info fade-in background-view-light" en-if="ctrl.$activePlugin">
					<div class="header">{{ctrl.$activePlugin.name}}</div>
					{{ctrl.$activePlugin.description}}
				</div>
			</div>
		</div>
		<div class="fix"></div>
		<div class="buttons">
			<span class="info" en-class="{ 'error' : ctrl.$errorRed }">{{ctrl.$errorMsg}}</span>
			<div class='button reg-gradient curve-small' en-click="ctrl.goState('welcome', true)">Back</div>
			<input type='submit' en-class="{ 'disabled' : ctrl.$loading }" class="button reg-gradient curve-small animate-all" value="Next" />
		</div>
	</form>		
</div>