<div class="splash-outer-container splash-welcome">
	<div class="splash-container">
		<div class="splash-section">
			<div class="project-browser">
				<div>
					<div class="combo-box light-gradient">
						<select class="combo">
						<option value="0">Start</option>
						<option value="1">Copy</option>
						<option value="2">Create New</option>
						<option value="3">Delete</option>
						<option value="4">Open</option>
						</select>
					</div>
					<div class="project-browser-search">
						<input type="text">
						<img src="media/search.png">
						<div></div>
					</div>
				</div>
				<div class="fix"></div>
				<div class="project-browser-bottom">
					<div class="list-view" style="min-width: 418px;">
						<div class="list" style="width: 69px; min-width: 69px;">
							<div class="list-view-header light-gradient">
								<span class="inner">Name   ▼</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="list" style="width: 90px; min-width: 90px;">
							<div class="list-view-header light-gradient">
								<span class="inner">Description</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="list" style="width: 48px; min-width: 48px;">
							<div class="list-view-header light-gradient">
								<span class="inner">Tags</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="list" style="width: 84px; min-width: 84px;">
							<div class="list-view-header light-gradient">
								<span class="inner">Created On</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="list" style="width: 94px; min-width: 94px;" >
							<div class="list-view-header light-gradient">
								<span class="inner">Last Modified</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="list" style="width: 33px; min-width: 33px;">
							<div class="list-view-header light-gradient">
								<span class="inner">ID</span>
								<div class="dragger light-gradient"></div>
							</div>
						</div>
						<div class="fix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="splash-section">
			<div class="splash-user-box">
				<div class="close-but" style="display: none;">X</div>
				<div class="details">
					<img src="media/blank-user.png">
				</div>
				<div class="details">
					<span class="hyperlink login-link">Login</span>
				</div>
				<div class="details">
					<span class="hyperlink register-link">Register</span>
				</div>
				<div class="fix"></div>
			</div>
			<div class="welcome">Welcome to Animate</div>
			<div class="news">
				Hello and welcome back to Animate. If you're new around these parts, let's get you up and running in just a few minutes. Click the below button to learn how to create your very first Animate project.
				<br>
				<a href="javascript:window.open('https://webinate.net/tutorials-popup/','Animate Tutorials','width=1000,height=800')">
					<div class="getting-started">
						<img src="media/play-arrow.png">Tutorial Videos
					</div>
				</a>
			</div>
		</div>
	</div>
</div>